
a{
    color:white;
}

.addBtn{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 20px;

}

.article_all{
    margin: 0 auto;
    border-top: 2px rgb(23, 27, 241) solid;
    
}