.home{
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 80px);
}

.home_cont{
    width: 80%;
    margin-top: 10px;
    h2{
        font-size: 26px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .article_all{
        //background-color: rgb(255, 255, 255);
        border-top: 2px rgb(23, 27, 241) solid;
        
    }

}

.page{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

